body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: grey;
}

.form {
    margin-top: 20px;
}

.guessField {
    padding: 5px;
    width: 100px;
}

.guessSubmit {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
